.sub{
    background-color:rgb(230, 0, 0);
    color:white;
    border:none;
    height: 36px;
    width: 105px;
    border-radius: 4px;
    cursor: pointer;
    margin-right:8px;
    transition: opacity 0.15s;
}
.sub:hover{
    opacity:0.7;
}
.sub:active{
    opacity:0.5;
}

.join{
    background-color: white;
    color:rgb(44, 44, 234);
    border-color:blue;
    border-style:solid;
    border-radius: 2px;
    height: 36px;
    width: 50px;
    border-width:1px;
    cursor: pointer;
    margin-right:8px;
    transition: background-color 0.15s,
        color 0.15s;
}
.join:hover{
    background-color:rgb(44, 44, 234);
    color:white;
}
.join:active{
    opacity:0.7;
}

.tweet{
    background-color: rgb(13, 93, 230);
    color:rgb(255, 255, 255);
    border-color:rgb(13, 93, 230);;
    border-style:solid;
    border-radius: 40px;
    height: 36px;
    width: 70px;
    border-width:1px;
    cursor: pointer;
    margin-right:8px;
    font-weight:bold;
    font-size:14px;
    transition: box-shadow 0.15s;
}
.tweet:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
}